/* Certifique-se de que este arquivo está sendo importado */
.extra-container {
    display:inline-flex;
    flex-direction: column;
    margin-top: 150vh; /* Afasta o conteúdo para baixo */
    padding: 20px;
    text-align: center; /* Centraliza os textos */
    height: auto; /* Garantir altura dinâmica */
      
  }
  