body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffc8c8; /* Fundo claro */
  color: #333; /* Cor do texto padrão */
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
